In [1]:
lst = [2,0.3,'3 idiots']

In [2]:
lst

[2, 0.3, '3 idiots']

In [5]:
lst[1]

0.3

In [6]:
lst[2] = 'Jab We Met'

In [7]:
lst

[2, 0.3, 'Jab We Met']

In [8]:
lst = list()

In [9]:
lst = []

In [10]:
lst = ['a string', 234, 43.897, True, [2,4,'Jab we met']]

In [11]:
lst

['a string', 234, 43.897, True, [2, 4, 'Jab we met']]

In [14]:
lst[4][2]

'Jab we met'

In [15]:
len(lst)

5

In [16]:
lst1 = [234, 'a string', 43.897, [2,4,"Jab We met"], True]

In [17]:
lst == lst1

False

In [18]:
lst is lst1

False

In [19]:
lst

['a string', 234, 43.897, True, [2, 4, 'Jab we met']]

In [20]:
lst[-1]

[2, 4, 'Jab we met']

In [21]:
lst[1:4]

[234, 43.897, True]

In [23]:
lst[:]

['a string', 234, 43.897, True, [2, 4, 'Jab we met']]

In [24]:
lst[2:-1]

[43.897, True]

In [25]:
lst[1:4:2]

[234, True]

In [26]:
lst[::-1]

[[2, 4, 'Jab we met'], True, 43.897, 234, 'a string']

In [27]:
lst = ['jab we met','shawshank Redemption']

In [28]:
lst.append('3 idiots')

In [29]:
lst

['jab we met', 'shawshank Redemption', '3 idiots']

In [30]:
# try adding list to a list through append
# try adding a variable to a list
# try adding a integer to the above list

In [31]:
lst+['Prestige']

['jab we met', 'shawshank Redemption', '3 idiots', 'Prestige']

In [32]:
lst

['jab we met', 'shawshank Redemption', '3 idiots']

In [35]:
lst = lst*2

In [36]:
lst

['jab we met',
 'shawshank Redemption',
 '3 idiots',
 'jab we met',
 'shawshank Redemption',
 '3 idiots']

In [37]:
lst = [2,56,889,45,78,96]

In [40]:
min(lst)

2

In [41]:
max(lst)

889

In [42]:
sum(lst)

1166

In [48]:
lst.insert(4,67)

In [49]:
lst

[2, 56, 889, 45, 67, 78, 96, 4, 4]

In [50]:
del lst[4]
lst

[2, 56, 889, 45, 78, 96, 4, 4]